.dataTables_filter,
div#example1_filter {
    float: right
}

.calendar.first.left,
.calendar.second.right,
div#range {
    display: none
}

.strong,
.toolBarGroupName,
.unread {
    font-weight: 700
}

.curp,
.pui,
ul.inputs>li>a,
ul.media>li>a {
    cursor: pointer
}

#ui-draggable,
.parent>li,
.rc-container,
ul#ctrl_id_ li,
ul.inputs>li,
ul.media>li,
ul.optionsList li,
ul.propertyList>li,
ul.selection-translations {
    list-style: none
}

.green {
    color: green
}

.red {
    color: red
}

.pui {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    padding: 3px;
    border: 2px solid #d2d6de
}

.modal-body.imgbody>img {
    margin-left: auto;
    margin-right: auto;
    max-height: 500px
}

img.img-responsive.adhar-image {
    width: 200px;
    cursor: pointer
}

h3.tu {
    margin-bottom: -30px
}

.p30 {
    width: 30%
}

div#example1_info {
    margin-left: 20px
}

.direct-chat-messages {
    height: 300px
}

.direct-chat-contacts {
    height: 150px
}

.mb10 {
    margin-bottom: 10px
}

div#sop {
    max-height: 305px;
    overflow: scroll
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px
}

::-webkit-scrollbar-track {
    background-color: #999
}

::-webkit-scrollbar-track-piece {
    background-color: #fff
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px
}

::-webkit-resizer {
    background-color: #666
}


 

#sop>.form-group.mb10:nth-of-type(odd) {
    background-color: #f9f9f9;
    padding: 10px 0
}

.box.box-solid.box-aqua>.box-header {
    color: #fff;
    background: #3c8dbc
}

.box.box-solid.box-aqua {
    border: 1px solid #3c8dbc
}

.box.box-solid.box-aqua>.box-header .btn,
.box.box-solid.box-aqua>.box-header a {
    color: #fff
}

tr.assigned>td>a,
tr.feedback>td>a,
tr.resolved>td>a {
    color: #333
}

a.btn.btn-default.btn-md.pull-right.box-aqua {
    border: 1px solid;
    background-color: #ddd
}

.mr10 {
    margin-right: 10px
}

.search-tools>.form-group {
    padding: 0;
    margin-left: 10px
}

label.curp.grouplbl {
    margin-right: 10px;
    float: left
}

.plist {
    margin-top: 9px
}

input.project.curp {
    float: left
}

.control .controlInfo .controlHint,
.propertyList .chkGroup,
.propertyList .property_group .editorList,
label.valign-middle {
    display: inline-block
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    text-align: center;
    padding-top: 25%;
    z-index: 1;
    visibility: hidden
}

tr.assigned {
    background: #fda0a1!important;
    border-color: #fda0a1!important
}

tr.feedback {
    background: #FD93CA!important;
    border-color: #FD93CA!important
}

tr.resolved {
    background: #cdeedd!important;
    border-color: #cdeedd!important
}

.clearfix {
    clear: both
}

.ccode {
    height: 11px;
    width: 20px;
    margin-top: -2px
}

#feedback {
    background: #FD93CA
}

#assigned {
    background: #fda0a1
}

#resolved {
    background: #cdeedd
}

.workspaceScrollArea.copy-paste-version {
    padding: 10px; 
    margin-top: 10px;
    min-height: 270px;
}

.toolBarGroupName {
    font-size: 16px;
    color: #36617c;
    line-height: 20px
}

.toolPalette ul li,
.toolPaletteForContainer ul li {
    font-size: 12px;
    line-height: 15px;
    margin-left: 15px;
    color: #555659
}

.toolPalette ul li a,
.toolPaletteForContainer ul li a {
    color: #555659
}

.workspaceScrollArea { 
    background-color: white;
    bottom: 0;
    left: 15.5em;
    overflow-y: auto;
    padding-left: 1em;
    right: 29em
}

.loader,
.loaderimage img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.control {
    margin-bottom: 1.5em;
    position: relative
}

.control .controlInfo {
    background-color: #acacac; 
    padding: 15px 6px;
    min-height: 66px
}

.control .controlInfo .typeIcon {
    float: left;
    margin: .5em 2em .5em .5em
}

.inputLabel .typeIcon {
    background-position: 0 -400px
}

.selectLocation .typeIcon {
    background-position: 0 -120px
}

.selectOne .typeIcon {
    background-position: 0 -200px
}

.selectMany .typeIcon {
    background-position: 0 -239px
}

.inputNumeric .typeIcon {
    background-position: 0 -42px
}

.getMediaImage .typeIcon {
    background-position: 0 -1280px
}

.getMediaAudio .typeIcon {
    background-position: 0 -1400px
}

.getMediaVideo .typeIcon {
    background-position: 0 -1320px
}

.selectDate .typeIcon {
    background-position: 0 -80px
}

.typeIcon {
    background: url(../images/type_icons.png) no-repeat;
    height: 40px;
    width: 40px;
    background-size: 40px
}

.control .controlInfo .deleteControl,
.control .controlInfo .duplicateControl,
.control .controlInfo .moveDownControl,
.control .controlInfo .moveUpControl {
    float: right;
    height: 22px; 
    width: 21px;
    text-align: left
}

.control .controlInfo .deleteControl { 
    margin-top: -30px; 
    position: relative;
    padding: 0px 3px;
    font-size: 20px;
    color: white;
        margin-right: 10px;
}

.control .controlInfo .controlLabel { 
    color: black;
    display: inline-block;
    padding-right: 15px;
    padding-top: 0;
    margin: 0;
    font-size: 18px
}

.control .controlInfo .controlHint,
.control .controlInfo .controlName { 
    color: rgb(234, 232, 233);
}

.controlName {
    padding-top: 0!important
}

.control .controlInfo .property_hide,
.control .controlInfo .property_readonly {
    color: #bbb
}

.control .controlInfo .controlProperties {
    color: #bbb;
    font-size: 1.1em;
    padding-right: 80px
}

.selection {
    margin-left: 90px;
    color: #bbb;
    font-size: 1.4em
}

.selection-translations {
    padding-left: 1px
}

.propertiesPane .propertyList li h4 {
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6b6b;
    letter-spacing: normal;
}

.propertiesPane .propertyList li {
    margin-top: 0;
    max-width: 270px;
    clear: both
}

.propertiesPane a {
    color: #3b6592!important; 
    text-decoration: none;
    font-weight: normal;
}

.propertiesPane .propertyList input[type=text] {
     width: 99%;
}

.propertiesPane input[type=text] {
    height: 21px!important;
    line-height: 19px!important;
    padding: 0 0 0 4px!important;
    border: 1px inset;
    box-sizing: border-box
}

.propertiesPane .propertyList li h5 {
    font-size: 1.1em
}

.propertiesPane .propertyList .min {
    width: 234px!important
}

.propertyList .chkGroup input[type=checkbox],
.propertyList .property_group .editorList input[type=checkbox],
label.valign-middle input {
    float: left
}

ul.inputs>li>a,
ul.media>li>a {
    color: #36617c
}

.activeinput { 
    background: #eae8e9
}

.propertyList {
    display: none
}

.control .controlInfo .controlProperties li {
    display: inline-block;
    float: left;
    margin-right: 10px
}

#ui-draggable {
    text-align: left
}

#ui-draggable div {
    margin: 0 0 10px;
    height: 75px;
    background: #dbd9d9;
    border: 1px solid #999;
    border-radius: 5px;
    color: #333
}

.ui-draggable>span {
    background: #666;
    height: 30px;
    position: absolute;
    width: 100%;
    margin-bottom: 30px;
    cursor: move;
    clear: both
}

ul.inputs,
ul.media {
    padding-left: 10px;
    border-left: 1px solid rgba(128, 128, 128, .46);
    box-shadow: -1px 0 0 rgba(0, 0, 0, .22);
    margin-left: 2px
}

.media {
    margin-top: 0
}

.propertiesPane,
.toolPaletteContent {
    margin-top: 20px;
    min-height: 270px; 
}

.toolPaletteContent {
    padding: 5px 15px
}

.propertyList { 
    padding: 0px 2px;
}

li.readOnlyGroup {
    padding-top: 5px;
    margin-bottom: -10px
}

input#property_label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    color: #3c3c3c;
    border: none !important;
    border-radius: 4px;
    margin-top: -5px;
    width: 100%;
    padding-bottom: 1px !important;
}

input#property_readOnlyFormLinks {
    display: inline-block!important;
}

.property_defaultValue { 
    max-width: 350px;
    color: #464242!important; 
    min-height: 22px;
    padding-left: 5px
}

ul.optionsList {
    float: left;
    padding-left: 0; 
    width: 100%
}

.uiTextOpt input[type=text] { 
    float: left
}

ul.translations {
    float: left;
    margin-left: 0;
    padding-left: 0;
    width: 100%
}

i.removeOption.curp.fa.fa-remove {
    padding: 2px;
    margin-left: 3px
}

.loader {
    background: #fff;
    opacity: .8;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999
}

.loaderimage img {
    position: absolute;
    margin: auto;
    width: 80px
}

div#example1_filter>label>input {
    margin-left: 10px
}

.border-bottom {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 5px
}

li#property_requiredFormLinks1 {
    color: #bbb
}

form#criteria_form .ec-container {
    padding-top: 12px;
    padding-right: 25px
}

#criteria_form .ec-container:nth-child(even) {
    background-color: rgba(243, 156, 18, .07)
}

#criteria_form .ec-container:nth-child(odd) {
    background-color: rgba(128, 128, 128, .05)
}

li.hideProperty {
    max-height: 30px;
}

.bool_grp.bool.clearfix label {
    max-height: 10px
}
 
.h20,
.h25 {
    padding: 0
}

.h25 {
    height: 25px
}

.h20 {
    height: 22px;
    font-size: 13px
}

.border0 {
    border: none!important
}

input#property_tableMapping {
    background-color: rgba(189, 183, 107, .32);
    font-weight: 700
}

span.dd,
span.dtd,
span.td {
    font-size: 16px;
    font-weight: 700;
    background: #fff;
    padding: 5px
}

.capture,
.labelImage {
    line-height: 70px;
    cursor: default;
    font-weight: 700;
    text-align: center;
    width: 280px;
    font-size: 20px;
    color: #ddd;
    display: block
}

.datecell,
.datetimecell,
.timecell {
    margin-top: 5px
}

.capture {
    height: 43px
}

.labelImage {
    margin-top: 20px;
    margin-bottom: -15px
}

span.labelImage>img {
    max-width: 180px;
    max-height: 180px;
    float: left;
}

li.relevanceconds.property_isShowRelevanceCondition {
    background: #fff;
    padding: 2px 10px
}

.rc-container {
    padding-bottom: 15px;
    border-bottom: 1px dotted rgba(0, 0, 0, .36)
}

.rc-container h5 span {font-size: 13px;color: #6b6b6b;}

.rc-container h5 {
    padding: 0;
    height: 20px;
    margin: 0
}

video {
    max-width: 200px
}

.property_relevance {
    display: none
}

.translations .rc-container:nth-child(even) {
    background-color: rgba(243, 156, 18, .07);
    padding: 0px 5px;
    margin-top: 3px;
}

.translations .rc-container:nth-child(odd) {
    background-color: rgba(128, 128, 128, .05);
    padding: 0px 5px;
    margin-top: 5px;
}

.rc-container h5 {
    text-align: center;
}

.rightdiv.col-md-8 ul {
    padding: 0px;
}

h4.controlRelevanceConditions {
    font-size: 15px;
    font-weight: bold;
    right: 0px;
    position: absolute; 
    color: rgb(129, 128, 129);
}

li.yesnoli label h4 {
    max-height: 0px;
}

li.yesnoli {
    max-height: 20px;
}

ul.yesnoul {
    clear: both;
     margin-bottom: -13px; 
    margin-left: 0px;
    margin-top: -10px;
}

.propertyHeaderInfo {
    width: 100%;
}

.align-center {
    text-align: center;
}

.rc-container ul {
    width: 100%;
    padding: 0px;
}

.rc-container {
    border: 1px solid rgba(128, 128, 128, 0.42);
}


div#input_type {
    padding: 1px 0px;
    text-align: left;
    color: #6b6b6b;
    font-size: 20px;
    background: #e8e8e8;
    border-radius: 4px 4px 0px 0px;
    padding-left: 5px;
    border-bottom: 1px solid gray;
}

input#filePicker {
    float: left;
    max-width: 100px;
}

.bootstrap-filestyle.input-group {
    max-width: 100px;
}

.sidebar-menu>li>a {
    padding: 8px 5px 6px 15px;
    display: block;
}

.main-header .logo .logo-lg {
    float: left;
    margin-left: 3px;
}

.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover {
    background-color: #222d32;
}

.skin-blue .main-header .navbar,
.skin-blue .main-header .navbar {
    background-color: #222d32;
}
 
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #2a4e63;
}

.display-preview-button,
#save_form,
#save_form,
.display-preview-button,
.viewall {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 15px;
}

.display-preview-button:hover,
#save_form:hover,
#save_form:active,
.display-preview-button:active,
.viewall:hover,
.viewall:active {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 15px;
}

.content {
    background: white;
}

.skin-blue .content-header {
    background: white;
}

.content-wrapper {
    background: white;
}

a.toolButton span {
    margin-left: -3px;
}

ul.sidebar-menu li {
    height: 38px;
    clear: both;
}

.sidebar-collapse .sidebar-menu li:nth-child(3),
.sidebar-collapse .sidebar-menu li:nth-child(12) {
    display: none;
}

span.dragablespan {
    color: white;
    font-size: 18px;  
    padding: 2px 15px;
}

.rightdiv.col-md-10 > ul {
    padding-left: 0px;
}

.rightdiv.col-md-10 {
    padding-left: 10px;
}
.controlInfo.activeinput {
    background: #eae8e9 !important;
}
 
li.property_readonly {
    color: transparent !important;
    max-width: 57px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

li.property_readonly:before {
    height: 40px;
    background-size: 26px;
    content: "ReadOnly"; 
    color: rgb(129, 128, 129);
}

li.property_hide {
    color: transparent !important;
    max-width: 26px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

li.property_hide:before {
    height: 40px;
    background-size: 26px;
    content: "hide"; 
    color: rgb(129, 128, 129);
}

li.property_required {
    color: transparent !important;
    max-width: 53px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

li.property_required:before {
    height: 40px;
    background-size: 26px;
    content: "Required"; 
    color: rgb(129, 128, 129);
}


.controlInfo .rightdiv > ul > li {
    color: rgb(234, 232, 233) !important;
}
.activeinput .rightdiv > ul > li {
    color: rgb(129, 128, 129) !important;
}
.controlInfo .rightdiv > ul > li.property_hide:before { 
    color: rgb(234, 232, 233);
}
.activeinput .rightdiv > ul > li.property_hide:before { 
    color: rgb(129, 128, 129);
}
.controlInfo .rightdiv > ul > li.property_readonly:before { 
    color: rgb(234, 232, 233);
}
.activeinput .rightdiv > ul > li.property_readonly:before { 
    color: rgb(129, 128, 129);
}
.controlInfo .rightdiv > ul > li.property_required:before { 
    color: rgb(234, 232, 233);
}
.activeinput .rightdiv > ul > li.property_required:before { 
    color: rgb(129, 128, 129);
}
.activeinput .rightside h4.controlRelevanceConditions {
    color: #818081;
}
.activeinput .rightdiv > ul > span.labelImage {color: #818081;} 
.activeinput .rightdiv > ul > span.capture {color: #818081;}
h4.controlRelevanceConditions {color: white}
.control .controlInfo .controlLabel {color: black !important;} 
.propertiesPaneContent {max-height: 520px; overflow-y: auto;}
.propertiesPaneContent::-webkit-scrollbar-track-piece {
    background-color: #e8e8e8;
}

i.inputLabel_png{background:url(../images/input_icon.png) no-repeat;height:22px;width:20px;background-size:20px;margin-right:7px;float:left;background-position-y:-32px}
i.list_icon{background:url(../images/input_icon.png) no-repeat;height:17px;width:17px;background-size:16px;margin-right:4px;float:left;background-position-y:4px}
i.inputSelectOne_png {background: url(../images/input_icon_new.png) no-repeat;height: 29px;width: 22px;background-size: 22px;margin-right: 7px;float: left;background-position-y: -65px;}
i.inputSelectMany_png {background: url(../images/input_icon_new.png) no-repeat;height: 23px;width: 22px;background-size: 27px;margin-right: 7px;float: left;background-position-y: -118px;background-position-x: -1px;}
i.inputNumeric_png {background: url(../images/input_icon_new.png) no-repeat;height: 25px;width: 25px;background-size: 30px;margin-right: 7px;float: left;background-position-y: -164px;background-position-x: -1px;}
i.inputText_png {background: url(../images/input_icon_new.png) no-repeat;height: 20px;width: 23px;background-size: 28px;margin-right: 7px;float: left;background-position-y: -176px;background-position-x: -1px;margin-top: 3px;}
i.inputDate_png {background: url(../images/input_icon_new.png) no-repeat;height: 20px;width: 22px;background-size: 25px;margin-right: 7px;float: left;background-position-y: -176px;background-position-x: -1px;}
i.inputLocation_png {background: url(../images/input_icon_new.png) no-repeat;height: 20px;width: 22px;background-size: 25px;margin-right: 7px;float: left;background-position-y: -200px;background-position-x: -1px;}
i.inputYesNo_png {background: url(../images/input_icon_new.png) no-repeat;height: 24px;width: 22px;background-size: 26px;margin-right: 7px;float: left;background-position-y: -231px;background-position-x: -1px;}
i.inputAudio_png {background: url(../images/input_icon_new.png) no-repeat;height: 22px;width: 22px;background-size: 26px;margin-right: 7px;float: left;background-position-y: -261px;background-position-x: -1px;}
i.inputImage_png {background: url(../images/input_icon_new.png) no-repeat;height: 22px;width: 22px;background-size: 26px;margin-right: 7px;float: left;background-position-y: -288px;background-position-x: -1px;}
i.inputVideo_png {background: url(../images/input_icon_new.png) no-repeat;height: 22px;width: 22px;background-size: 26px;margin-right: 7px;float: left;background-position-y: -313px;background-position-x: -1px;}
i.inputLabel_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:24px;margin-right:7px;float:left;background-position-y:-39px;margin-top:1px}
i.selectOne_head{background:url(../images/input_icon.png) no-repeat;height:22px;width:12px;background-size:13px;margin-right:7px;float:left;background-position-y:-35px;margin-top:1px}
i.selectMany_head{background:url(../images/input_icon.png) no-repeat;height:22px;width:20px;background-size:20px;margin-right:7px;float:left;background-position-y:-88px;margin-top:2px}
i.inputNumeric_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:24px;margin-right:7px;float:left;background-position-y:-131px;margin-top:1px}
i.inputText_head{background:url(../images/input_icon.png) no-repeat;height:19px;width:25px;background-size:25px;margin-right:7px;float:left;background-position-y:-161px;margin-top:4px}
i.selectDate_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:24px;margin-right:7px;float:left;background-position-y:-172px;margin-top:1px}
i.selectLocation_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:24px;margin-right:7px;float:left;background-position-y:-197px;margin-top:1px}
i.inputYesNoDontKnow_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:19px;margin-right:7px;float:left;background-position-y:-175px;margin-top:1px}
i.getMediaAudio_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:22px;margin-right:7px;float:left;background-position-y:-231px;margin-top:1px}
i.getMediaImage_head{background:url(../images/input_icon.png) no-repeat;height:23px;width:25px;background-size:22px;margin-right:7px;float:left;background-position-y:-255px;margin-top:1px}
i.getMediaVideo_head{background:url(../images/input_icon.png) no-repeat;height:24px;width:25px;background-size:22px;margin-right:7px;float:left;background-position-y:-277px;margin-top:1px}
i.deleteControl {background-image: url(../images/close.png);background-repeat: no-repeat;background-size: 15px;background-position: 5px;}
.datecell span, .datetimecell span, .timecell span {border: 1px solid gray;}
li.answer span {margin-top: -1px;position: absolute;}
hr.smallhr { margin-top: -1px;border-top: 1px solid green;width: 90%;margin-left: 5%;}

li.tableMapping {background: #e8e8e8;padding: 1px 5px 10px 5px;margin-top: 5px !important;border-radius: 4px;}
li.labels {
    background: #e8e8e8;
    padding: 1px 5px 10px 5px;
    margin-top: 5px !important;
    border-radius: 4px 4px 0px 0px;
    margin-bottom: -15px !important;
}
li.hint {
    background: #e8e8e8;
    padding: 0px 5px 10px 5px;
    border-radius: 0px 0px 4px 4px;
    margin-top: -10px !important; max-height: 50px;
}


li.hideProperty {
    background: #e8e8e8;
    padding: 0px 1px 0px 5px;
    margin-top: 5px !important;
    border-radius: 4px;
}
li.readOnlyGroup { 
    background: #e8e8e8;
    padding: 5px 2px 0px 5px;
    border-radius: 4px; 
    margin-top: -10px !important;
    margin-bottom: -20px;
}
li.requiredGroup { 
    background: #e8e8e8;
    padding: 0px 2px 8px 5px;
    border-radius: 4px;
    margin-top: 5px !important; 
}
li.relevanceGroup {
    background: #e8e8e8;
    padding: 2px 4px 0px 4px;
    border-radius: 4px;
    margin-top: 5px !important;
}
li.kind {
    background: #e8e8e8;
    padding: 1px 1px 0px 5px;
    border-radius: 4px;
    margin-top: 5px !important;
}
li.lblImage {
    background: #e8e8e8;
    padding: 0px 1px 0px 5px;
    border-radius: 4px;
    margin-top: -13px !important;
    margin-bottom: -5px;
    min-height: 68px;
}
.relevanceConditionsEditor.relevanceconds.property_isShowRelevanceCondition {
    margin-top: -15px;
}
.propertiesPaneContent {
    margin-top: -11px;
}
.propertyUnderlying.pull-right {margin-top: 5px;margin-right: 10px;}
.propertyUnderlying.pull-right label {
    float: right;
}
li.range {
    background: #e8e8e8;
    padding: 0px 1px 5px 5px;
    border-radius: 4px;
    margin-top: -5px !important;
}

li.defaultValue {
    background: #e8e8e8;
    padding: 0px 1px 5px 5px;
    border-radius: 4px;
    margin-top: -13px !important;
}
li.length {
    background: #e8e8e8;
    padding: 0px 5px 8px 5px;
    border-radius: 4px;
    margin-top: 5px !important;
}
li.isSetCurrentDate {
    background: #e8e8e8;
    padding: 0px 1px 5px 5px;
    border-radius: 4px;
    margin-top: -5px !important;
}
li.options {
    background: #e8e8e8;
    padding: 0px 1px 5px 5px;
    border-radius: 4px;
    margin-top: 5px !important;
    min-height: 95px;
}
input#dontknow {
    margin-top: 10px;
    float: left;
}
div#property_kind > label > span {
    color: #6b6b6b;
    font-weight: normal;
    margin-right: 5px;
}
.relevance > span > label {
    color: #6b6b6b;
}
a.required {
    color: red !important;
}
.removeRelevanceCondition {
    background-image: url(../images/cross.png);
    background-repeat: no-repeat;
    background-size: 12px;
    height: 20px;
    background-position: 2px 4px;
    width: 16px;
}
.bootstrap-filestyle.input-group > span > label {
    background: rgb(107, 107, 107);
    color: white;
    border: 1px solid gray;
    border-radius: 0px;
}
label#clearAll {
    background: rgb(107, 107, 107);
    color: white;
    border: 1px solid gray;
    border-radius: 0px;
}
.bootstrap-filestyle.input-group {
    margin-left: 2px;
} 
input#property_isShowRelevanceCondition {
    margin-right: 2px;
}
input#property_hint, input.form-control.rcValue.h20 {
    border: none !important;
    border-radius: 4px;
    margin-top: -5px;
}
select.form-control.h20.rcOperator.rcop, 
select.form-control.h20.rcTableMapping.rctm, 
select.form-control.JoinType.h20, 
select#columns, 
select.form-control.condition2.h20,
input.form-control.condition3 {
    border: none !important;
    border-radius: 4px;
    margin-top: 2px; 
}
select#tables {border: none !important;border-radius: 4px;margin-top: -5px;} 
li.lblImage {margin-bottom: 5px !important;}
i.removeOption.curp.pull-right {margin-right: 5px;color: #3b6592;}
.editorTextfield {
    border: none !important;
    border-radius: 4px;
}
@media screen and (max-width: 991px) { 
    .propertiesPane .propertyList li {min-width: 100% !important;}
    .editorTextfield {min-width: 100%;}
}
.editorTextfield.ulv {margin-top: 2px;}
.editorTextfield{min-width: 100px;}
.numericDefaultField {padding-right: 5px;}
select#property_defaultValue {border: none !important;border-radius: 4px;}
#property_hint {width: 100%;}
li.lblImage > div >h4 {margin-top: 10px;margin-bottom: 5px;}
.propertyHeaderInfo > h4 {margin-bottom: 5px;}
input#property_label {margin-top: 5px !important;}
li.defaultValue > div > h4 {margin-bottom: 2px;}
input#property_defaultValue {width: 100% !important;border-radius: 4px;border: none;}
span.property_length > a, span.property_range > a, span.property_num_range > a {color: #6b6b6b !important;}
li.hint > div > div > h4 {margin-bottom: 2px;}
li.defaultValue > div > h4 {margin-bottom: 2px;}
.rc-container h5 {margin-bottom: -5px !important;}
.rc-container > .align-center > h4 {margin: 2px;font-weight: bold !important;}
i.manageprojects {background: url(../images/input_icon_new.png) no-repeat;height: 25px;width: 21px;background-size: 24px;float: left;background-position-y: -360px;margin-right: 3px;}
i.managejobmaster {background: url(../images/input_icon_new.png) no-repeat;height: 25px;width: 23px;background-size: 24px;margin-right: 0px;float: left;background-position-y: -384px;}
span.viewall.pull-left {
    margin-left: 25px;
}
#date-time-format label:nth-child(1) {font-weight: normal;color: #6b6b6b;}
#date-time-format label:nth-child(2) {font-weight: normal;color: #6b6b6b;margin-right: 5px;}
#date-time-format label:nth-child(3) {font-weight: normal;color: #6b6b6b;margin-right: 5px;}
.datetimepicker-hours > table > thead > tr > th.prev:before {content: "«";}
.datetimepicker-hours > table > thead > tr > th.next:before {content: "»";}
.datetimepicker-days > table > thead > tr > th.prev:before {content: "«";}
.datetimepicker-days > table > thead > tr > th.next:before {content: "»";}
.datepicker table tr td.today, .datepicker table tr td.today:hover {
    color: black;
    background: #fde19a;
}
.datepicker table tr td.today.disabled, 
.datepicker table tr td.today.disabled:hover {
    color: white;
    background: #039;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
    color: #ffffff;
    background: #039;
    border-color: #285e8e;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused, .datetimepicker table tr td.day:hover, .datetimepicker table tr td.day.focused {
    background: rgba(93, 79, 79, 0.14) !important;
    cursor: pointer;
}
li.piping {background: #e8e8e8;padding: 0px 5px 10px 5px;margin-top: 5px !important;border-radius: 4px 4px 0px 0px;margin-bottom: -15px !important;}
select#property_piping {color: #3c3c3c;border: none !important;border-radius: 4px;}
li.validation {background: #e8e8e8;padding: 1px 4px 5px 5px;border-radius: 4px;margin-top: 5px !important;}
li.validation > span > input, li.validation > span > select {border: none;border-radius: 4px;margin-top: -8px;}
li.validation > span > h4 {margin-top: 5px;}
input#property_requiredMessage {border: none !important;border-radius: 4px;}
span#property_requiredMessage h4 {margin-top: 5px;margin-bottom: 5px;}
div#property_validation_kind > label > span {color: #6b6b6b;font-weight: normal;margin-right: 5px;}
div#property_validation_kind > label {margin-top: 6px;margin-bottom: 0px;}
div#vw-container {padding: 0px;margin-top: -8px;}
i.controlRelevanceConditions {float: right;margin-right: 20px;}
i.controlRelevanceConditions {background: url(../images/input_icon_wr.png) no-repeat;height: 24px;width: 25px;background-size: 24px;margin-right: 20px;float: right;background-position-y: -404px;margin-top: 1px;}
.rightdiv > .parent {padding: 0px;}
.datebody {clear: both;float: left;}
div#property_calculation > label > span {color: #6b6b6b;font-weight: normal;margin-right: 5px;}
.center {text-align: center;}
.panel-group {margin-bottom: 0px;}
.bs-example {margin-bottom: 0px;}
.panel-body {padding: 5px;}
.quesBody {border: 1px solid #dddddd;padding: 10px;margin-bottom: 2px;margin-top: 2px;border-radius: 4px;}
.cv-div {padding-bottom: 5px;}
 i.manageworkforce {background: url(../images/input_icon_new.png) no-repeat;height: 25px;width: 23px;background-size: 24px;margin-right: 0px;float: left;background-position-y: -406px;}
.plussign{text-align: center;width: 100%;float: left;font-weight: bold;font-size: 16px;}
div#calculation-body > label {color: #6b6b6b;font-weight: normal;margin-right: 5px;}
a.removeExpression {
    background-image: url(../images/cross.png);
    background-repeat: no-repeat;
    background-size: 12px;
    height: 20px;
    background-position: 2px 4px;
    width: 16px; 
}

.cal-container:nth-child(even) {
    background-color: rgba(243, 156, 18, .07);
    padding: 0px 5px;
    margin-top: 3px;
}

.cal-container:nth-child(odd) {
    background-color: rgba(128, 128, 128, .05);
    padding: 0px 5px;
    margin-top: 5px;
}

.cal-container h5 {
    text-align: center;
}

.cal-container ul {
    width: 100%;
    padding: 0px;
}

.cal-container {
    border: 1px solid rgba(128, 128, 128, 0.42);
}
ul.cv-div {
    list-style-type: none;
    padding-left: 0px;
}
.ct-value {
    margin-bottom: 5px;
    clear: both;
    padding-bottom: 5px !important;
    margin-top: 5px !important;
}

.lst-none{list-style-type: none;padding: 0px;}
ul.cv-div li {list-style-type: none;}
.cal-container label {font-size: 14px;font-weight: normal;font-family: Arial, Helvetica, sans-serif;color: #6b6b6b;letter-spacing: normal;    padding: 0px 2px;margin-bottom: 0px;}
.calculationOperation {margin-top: -7px;}
.calculationValue {margin-top: -7px;}
/*.cal-container .align-center {margin-top: -5px;margin-bottom: -10px;}*/
.cal-container .align-center h4 {font-size: 13px;margin-top: 5px;margin-bottom: 9px;margin: 10px;}
label.valign-middle.align-center {font-size: 13px;margin-top: 5px;margin-bottom: 0px;width: 100%;}
h4.clearfix.valign-middle.align-center {font-size: 13px;margin-top: 5px;margin-bottom: 9px;} 
.cal-container .align-center {margin-top: -5px;margin-bottom: -10px;}
.cal-container_text .removeExpression {margin-top: -20px;}
.cal-container_text span.plussign {margin-top: -10px;}
.rcConstant {border: none !important;border-radius: 4px;margin-top: 5px;margin-bottom: 5px;width: 100% !important;}
.rcOther {border: none !important;border-radius: 4px;margin-bottom: 5px;width: 100% !important;}
input#condition3 {width: 100% !important;}
.center.bxfooter {margin-bottom: 10px;}
.bxbody.center {margin: 10px 0px;font-size: 13px;}
.box.box-danger.box-solid.error-box {border: 2px solid #8c1304;border-radius: 0px;max-width: 410px;margin-top: 40%;padding: 0px 5px;margin-left: 19%;background: #e4e4e4;}
.bxfooter button {border-radius: 0px;background-color: #8c1304;border-color: #8c1304;height: 22px;padding: 0px 5px;}
div#errorModal {background: rgba(0, 0, 0, 0.64);}
div#errorModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}