.loader-icon-container{
    display: none;
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100px;
    z-index: 1;
}
.loader-icon{
    height: 100%;
}
.mobile-main-body{
    opacity: 0.6;
}    
.mobile-layout-header{
    height: 50px;
    background-color: #2e719d;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -46px;
    color: #fff;
}
.mobile-layout-body{
    height: 522px;
    overflow-y: auto;
    margin-right: -15px;
    padding:5px;
    margin-left: -10px;
}
.tablet-view-label{
    font-size: 15px;
    color: #000;
}
.tablet-view-label > span{
    color:red;
}
.tablet-view-help-text-block{
    text-align: left !important;
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: 500;
}
.tablet-view-help-text-block > span{
    font-weight:bold !important;
}
.tablet-view-input-field{
    border-top: 1px solid #c4c7ca;
    border-bottom: 1px solid #989ca1;
    border-left: 1px solid #7a8087;
    border-right: 1px solid #7a8087;
    margin: 0px 0px 7px 0px;
}
.tablet-view-image-field, .tablet-view-audio-field, .tablet-view-video-field{
    opacity: 0;
    position: absolute;
    z-index:-1;
}
/*CUSTOM CHECKBOX DESIGN UI [STARTS HERE]*/
.tablet-view-checkbox-field input[type=checkbox]{
    position: absolute;
    visibility: hidden;
}
.tablet-view-checkbox-field{
    color: #fff;
    display: block;
    position: relative;
    border-radius: 7px;
    right: -42px;
    float: left;
    width: 75%;
    height: 40px;
    margin: 0px 0px 18px 0px;
    background-color: #656364;
    font-weight: bolder;
    text-align: left;
}
.tablet-view-checkbox-field-label{
    display: block;
    position: relative;
    font-weight: 500 !important;
    font-size: 15px;
    margin-top: 9px;
    width: 100%;
    height: 40px;
    z-index: 9;
    -webkit-transition: all 0.25s linear;
}
.tablet-view-checkbox-field .check{
    display: block;
    position: absolute;
    border: 5px solid #fff;
    background: #fff;
    border-radius: 3px;
    height: 25px;
    width: 25px;
    top: 7px;
    right: 18px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.tablet-view-checkbox-field .check::before {
    display: block;
    background-color: #fff;
    position: absolute;
    content: '';
    /* border-radius: 100%; */
    height: 15px;
    width: 15px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.tablet-view-checkbox-field input[type=checkbox]:checked ~ .check {
    border: 5px solid #fff;
}

.tablet-view-checkbox-field input[type=checkbox]:checked ~ .check::before{
    content: "";
    background-color: transparent;
    position: absolute;
    left: 3px;
    top: -2px;
    width: 10px;
    border-bottom: 5px solid #77b1d7;
    height: 18px;
    border-right: 5px solid #77b1d7;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.tablet-view-checkbox-field input[type=checkbox]:checked{
    content: "";
    background-color: transparent;
    position: absolute;
    left: 3px;
    top: -2px;
    width: 10px;
    border-bottom: 5px solid #77b1d7;
    height: 18px;
    border-right: 5px solid #77b1d7;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*CUSTOM CHECKBOX DESIGN UI [ENDS HERE]*/

/*CUSTOM RADIO DESIGN UI [STARTS HERE]*/
.tablet-view-radio-field input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.tablet-view-radio-field {
    color: #fff;
    display: block;
    position: relative;
    border-radius: 7px;
    right: -42px;
    float: left;
    width: 75%;
    height: 40px;
    margin: 0px 0px 18px 0px;
    background-color: #656364;
    font-weight: bolder;
    text-align: left;
}

.tablet-view-radio-field-label{
    display: block;
    position: relative;
    font-weight: 500 !important;
    font-size: 15px;
    margin-top: 9px;
    width: 100%;
    height: 40px;
    z-index: 9;
    -webkit-transition: all 0.25s linear;
}
.tablet-view-radio-field .check{
    display: block;
    position: absolute;
    border: 5px solid #fff;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 7px;
    right: 18px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.tablet-view-radio-field .check::before {
    display: block;
    background-color: #DBDCDE;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}
.tablet-view-radio-field input[type=radio]:checked ~ .check {
    border: 5px solid #D5D6D8;
}

.tablet-view-radio-field input[type=radio]:checked ~ .check::before{
    background: #3ED635;
}

.tablet-view-radio-field input[type=radio]:checked{
    color: #0DFF92;
}
/*CUSTOM RADIO DESIGN UI [ENDS HERE]*/

/*CUSTOM YES NO DON'T' KNOW DESIGN UI [STARTS HERE]*/
.tablet-view-radio-Yes-field input[type=radio],.tablet-view-radio-No-field input[type=radio],.tablet-view-radio-dont-know-field input[type=radio]{
    position: absolute;
    visibility: hidden;
}
.tablet-view-radio-Yes-field, .tablet-view-radio-No-field, .tablet-view-radio-dont-know-field{
    color: #fff;
    display: block;
    position: relative;
    border-radius: 7px;
    right: -42px;
    float: left;
    width: 75%;
    height: 40px;
    margin: 0px 0px 18px 0px;
    background-color: #656364;
    font-weight: bolder;
    text-align: left;
}
.tablet-view-radio-Yes-field-label, .tablet-view-radio-No-field-label, .tablet-view-radio-dont-know-field-label{
    display: block;
    position: relative;
    font-weight: 500 !important;
    font-size: 15px;
    margin-top: 9px;
    width: 100%;
    height: 40px;
    z-index: 9;
    -webkit-transition: all 0.25s linear;
}
.tablet-view-radio-Yes-field .check,.tablet-view-radio-No-field .check, .tablet-view-radio-dont-know-field .check {
    display: block;
    position: absolute;
    /* border: 5px solid #fff; */
    /* border-radius: 100%; */
    height: 25px;
    width: 25px;
    top: 7px;
    right: 18px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.tablet-view-radio-Yes-field .check::before {
    content: "";
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 2px;
    width: 10px;
    border-bottom: 5px solid #fff;
    height: 18px;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.tablet-view-radio-No-field .check::before{
    content: "X";
    position: absolute;
    left: 9px;
    top: -7px;
    font-size: 27px;
}
.tablet-view-radio-dont-know-field .check::before{
    content: "?";
    position: absolute;
    left: 9px;
    top: -7px;
    font-size: 28px;
}
.tablet-view-radio-default{
    background-color: #656364;
}
.tablet-view-radio-green{
    background-color: #2d9b05;
}
.tablet-view-radio-red{
    background-color: #e10f03;
}
.tablet-view-radio-yellow{
    background-color: #f7920d;
}
/*CUSTOM YES NO DON'T KNOW DESIGN UI [ENDS HERE]*/

.tablet-view-upper-right-icon{
    margin: 0px -64px 0px 73px !important;
    padding: 0px;
    width: auto !important;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.left-addon .glyphicon  { 
    left:  0px;
}
.right-addon .glyphicon {
    right: 0px;
}
.left-addon input  {
    padding-left:  30px;
}
.right-addon input {
    padding-right: 30px;
}
.tablet-view-location-input-splitted-fields{
    display: inline-flex;
}
.tablet-view-location-input-splitted-fields > .split-1{
    margin-right:5px;
}
.tablet-view-location-input-splitted-fields > .split-2{
    margin-left:5px;
}
.tablet-view-location-label-help{
    text-align: left;
    font-size: 12px;
}
.tablet-view-location-input-automatic-get-location{
    margin-top: 10px;
    margin-bottom: 10px;
}
.tablet-view-location-input-automatic-get-location button{
    width: 95%;
}
.tablet-view-form{
    text-align: center;
}
.tablet-view-form .form-group{
    border-bottom: 1px dotted #ddd;
    margin: 10px 0px 10px 0px;
    clear: both;
}
.tablet-view-form input:focus{
    border: 1px solid #7a8087 !important;
}
.tablet-view-modal-main-window{
    position: absolute;
    top: -10px;
}
.tablet-view-modal-main-dialog{
    margin-left: 31%;
    overflow-y: initial !important;
}
.tablet-view-modal-main-content{
    margin-top: 90px;
    height: 659px;
    width: 450px;
    border: 40px solid #000004;
    border-radius: 20px;
    box-shadow: 0 0 0 3px hsl(0, 6%, 16%), 0 0 0 5px hsla(0, 8%, 59%, 0.4);
}
.tablet-view-modal-main-header{
    border-bottom:none;
}
.tablet-view-modal-main-header > button{
    position: absolute;
    right: 0px;
    left: 360px;
    top: -18px;
    z-index: 1;
    opacity: 1;
    border: 2px solid #000;
    border-radius: 100%;
}
.media-preview-container{
    display: none;
    margin: 5px 0px 10px 0px;
}
.tablet-view-full-border{
    border-bottom: 1px solid #666;
    margin-left: -5px;
    margin-right: -5px;
}
.tablet-view-below-header-strip{
    height: 10px;
    margin: -8px -15px 0px -15px;
}
.form-invalid-validation-preview-field{
    border: 1px solid red;
}
.form-invalid-validation-preview-message, .form-invalid-validation-preview-message-static{
    font-size: 12px;
    color: red;
    font-weight: bold;
}
.datepicker table tr td.disabled{
    color: rgba(68, 68, 68, 0.73) !important;
}